<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Játékosok listája:</h1>
<br/><br/>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Játékos száma</th>
        <th>ClubId</th>
        <th>PostId</th>
        <th>Vezetéknév</th>
        <th>Keresztnév</th>
        <th>Születési dátum</th>
        <th>Magyar</th>
        <th>Külföldi</th>
        <th>Érték</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${playerList}">
        <td th:text="${player.getId()}"></td>
        <td th:text="${player.getPlayerNumber()}"></td>
        <td th:text="${player.getClub().getClubName()}"></td>
        <td th:text="${player.getPost().getPostName()}"></td>
        <td th:text="${player.getLastName()}"></td>
        <td th:text="${player.getFirstName()}"></td>
        <td th:text="${player.getBirthDate()}"></td>
        <td th:text="${player.getIsHungarian()}"></td>
        <td th:text="${player.getIsForeign()}"></td>
        <td th:text="${player.getPlayerRate()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>